### In the problem statement I found that SBI is repeating twice so I removed that
The Trade stock code for SBI is SBIN

In [6]:
from nsetools import Nse     #importting Nse to get live National Stock Exchange
import numpy as np        #importing numpy for calculation purpose     
import pandas          #importing pandas for prasentation

In [7]:
# Function to return Stock Exchange data
def func(stocknames):     #pass a list of stock names
    nse = Nse()
    stock_list = np.array(stocknames)
    
    #creating a empty numpy array
    new = np.empty((0,7))
    
    #iterating through stock list
    for stock in stock_list:
        
        #getting live Stock Exchange data
        quote = nse.get_quote(stock)
        Data = np.array([[quote['open'],quote['dayHigh'],quote['dayLow'],quote['closePrice'],quote['totalTradedVolume'],quote['deliveryQuantity'],quote['deliveryToTradedQuantity']]])
        
        #adding the Data to the table
        new = np.append(new, Data, axis=0) 
        
    #Creating rows and columns for creating a table
    row = ['RELIANCE', 'HDFCBANK', 'ADANIPORTS', 'ITC', 'SBI', 'IOC', 'RBLBANK']
    col = ['Open', 'High', 'Low', 'Close', 'Volume', 'Delivery Data', 'Delivery Percentage']
    data_required =  pandas.DataFrame(new,row, col)    #using pandas library to make presentation neet
    return data_required

In [8]:
stocknames = ['RELIANCE', 'HDFCBANK', 'ADANIPORTS', 'ITC', 'SBIN', 'IOC', 'RBLBANK']

In [9]:
func(stocknames)

,Open,High,Low,Close,Volume,Delivery Data,Delivery Percentage
RELIANCE,2349.55,2388.65,2305.00,2373.25,11311456.0,6446850.0,56.99
HDFCBANK,1458.65,1495.00,1444.00,1488.05,6797124.0,3519095.0,51.77
ADANIPORTS,696.00,712.85,690.00,711.10,4482325.0,1544844.0,34.47
ITC,212.00,214.70,209.55,214.30,18322935.0,9607140.0,52.43
SBI,490.00,517.50,489.00,514.65,21791739.0,6493271.0,29.80
IOC,120.20,121.70,119.30,121.45,6434320.0,2495415.0,38.78
RBLBANK,135.50,146.25,134.25,144.00,19128754.0,2134663.0,11.16